* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #575166;
}

.header {
    padding: 0 10px;
    background-color: #9188ab;
}
.header-container {
    background-color: #9188ab;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-link {
    padding: 0 10px;
    line-height: 60px;
    text-decoration: none;
    transition: 0.5s;
    color: #E9E7EE;
}
.nav-link:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.rightside {
    display: flex;
    justify-content: flex-end;
}

.adaptive-menu {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 50px;
    height: 5px;
    margin: 5px auto;
    background: #E9E7EE;
    transition: all 0.4s;
}
.shadow-box {
    display: none;
}

.avatar {
    display: flex;
    align-self: center;
    width: 300px;
    height: auto;
}
.profile-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    flex: 0 0 40%;
}
.title {
    padding-left: 20px;
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #dfe7f1;
    width: 300px;
    color: #575166  ;
    
}

.main-container {
    background-color: #F4F3F6;
}

.inner {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.container {
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
}

.section {
    max-width: 1100px;
    padding: 10px;
    margin: 0 auto; 
}

.contact {
    padding: 10px 0 10px 0;
    text-decoration: none;
    list-style: none;
}
.contact-list > ul {
    padding-left: 10px;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    flex: 0 0 40%;
}

.left > ul {
    padding-left: 35px;
}

.right {
    flex: 0 0 55%;
}
.right p {
    padding-left: 15px;
}

.skill {
    font-size: 22px;
    flex: 0 0 55%;
}
.skill > ul {
    padding-left: 40px;
}

.footer_wrapper {
    background-color: #9188ab;
}
.footer {
    padding: 0 10px 0 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #9188ab;
}
.footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content:space-between;
}
.git {
    text-decoration: none;
    color: #575166;
}
.footer-git{
    text-decoration: none;
    color: #E9E7EE;
}

.codeexam {
    overflow-x: auto;
}
.rss {
    width: 121px;
    height: 45px;
    background-image: url("./assets/rs_school_js.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.prof {
    position: relative;
}

.prof::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -27px;
    width: 300px;
    border-bottom: 4px solid #9188ab;
}

.language_list > ul {
    padding-left: 40px;
}

.project_list {
    padding-left: 20px;
}
.project {
    list-style-type: none;
}

.project_link {
    text-decoration: none;
    color: #575166;
}

@media (max-width:900px) {
    .inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .right, .contact-list, .skill, .left, .right {
        width: 90%;
    }
    .title {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .header {
        flex: 0 0 100%;
    }
    .inner {
      flex: 0 0 100%;  
    }
    .left {
      flex: 0 0 100%;
    }
    .right {
        flex: 0 0 100%;
    }
    .footer {
        flex: 0 0 100%;
    }
    .text {
        flex: 0 0 100%;
    }

    .rightside {
        margin-right: 15px;
        gap: 25px;
    }
    
    .adaptive-menu {
        display: block;
        z-index: 5;
    }
    
    .bar {
        width: 50px;
        height: 3px;
        display: block;
        background: #E9E7EE;
        margin: 10.5px 0;
    }
    .adaptive-menu.active .bar:nth-child(2) {
        opacity: 0;
    }
    .adaptive-menu.active .bar:nth-child(1) {
        transform: translateY(12.5px) rotate(45deg);
    }
    .adaptive-menu.active .bar:nth-child(3) {
        transform: translateY(-12.5px) rotate(-45deg);
    }
    .shadow-box.active {
        background:#000;
        opacity:0.5;
        display: block;
        z-index: 3;
        position: fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
    .nav {
        z-index: 4;
        position: fixed;
        right: -550px;
        gap: 0;
        top: 0;
        background-color: #575166;
        background-size: auto;
        width: 550px;
        height: 100%;
        text-align: center;
        transition: all 0.3s;
    }
    .nav-list {
        flex-direction: column;
        margin-top: 135px;
        gap: 16px;
        justify-content: flex-start;
    }
    .nav-item {
        font-size: 35px;
        line-height: 72px;
    }
    .nav.active {
        right: 0;
    }
}

@media (max-width: 498px) {
    .nav {
        max-width: 500px;
    }
}

@media (max-width: 440px) {
    .nav {
        max-width: 440px;
    }
}

@media (max-width: 400px) {
    .nav {
        max-width: 400px;
    }
}