* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #575166;
}

.header {
    padding: 0 10px;
    background-color: #9188ab;
}
.nav_menu {
    background-color: #9188ab;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-link {
    padding: 0 10px;
    line-height: 60px;
    text-decoration: none;
    transition: .3s;
    color: #E9E7EE;
}

.avatar {
    display: flex;
    align-self: center;
    width: 300px;
    height: auto;
}
.profile-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    flex: 0 0 40%;
}
.title {
    padding-left: 20px;
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #dfe7f1;
    width: 300px;
    color: #575166  ;
    
}

.main-container {
    background-color: #F4F3F6;
}

.inner {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.container {
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
}

.section {
    max-width: 1100px;
    padding: 10px;
    margin: 0 auto; 
}

.contact {
    padding: 10px 0 10px 0;
    text-decoration: none;
    list-style: none;
}
.contact-list > ul {
    padding-left: 10px;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    flex: 0 0 40%;
}

.left > ul {
    padding-left: 35px;
}

.right {
    flex: 0 0 55%;
}
.right p {
    padding-left: 15px;
}

.skill {
    font-size: 22px;
    flex: 0 0 55%;
}
.skill > ul {
    padding-left: 40px;
}

.footer_wrapper {
    background-color: #9188ab;
}
.footer {
    padding: 0 10px 0 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #9188ab;
}
.footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content:space-between;
}
.git {
    text-decoration: none;
    color: #575166;
}
.footer-git{
    text-decoration: none;
    color: #E9E7EE;
}

.codeexam {
    overflow-x: auto;
}
.rss {
    width: 121px;
    height: 45px;
    background-image: url("./assets/rs_school_js.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.prof {
    position: relative;
}

.prof::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -27px;
    width: 300px;
    border-bottom: 4px solid #9188ab;
}

.language_list > ul {
    padding-left: 40px;
}

.project_list {
    padding-left: 20px;
}
.project {
    list-style-type: none;
}

.project_link {
    text-decoration: none;
    color: #575166;
}

@media (max-width:900px) {
    .inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .right, .contact-list, .skill, .left, .right {
        width: 90%;
    }
    .title {
        width: 100%;
    }
}

@media screen and  (max-width: 768px) {
    .header {
        flex: 0 0 100%;
    }
    .inner {
      flex: 0 0 100%;  
    }
    .left {
      flex: 0 0 100%;
    }
    .right {
        flex: 0 0 100%;
    }
    .footer {
        flex: 0 0 100%;
    }
    .text {
        flex: 0 0 100%;
    }
}